.auth-input {
  width: 90%;
  padding: 14px 16px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: white;
  font-size: 14px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.05);
  margin-bottom: 12px;
}
